<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title rsf:id="page-title"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	<link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript" language="JavaScript" src="../js/qna.js"></script>
	<script type="text/javascript" language="JavaScript" src="http://code.jquery.com/jquery-latest.js"></script>
	<link href="../css/qna.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript">
		$(document).ready(function() {
			addCategory();
			changeCategory();
		});
	</script>
</head>


<body>
	<div rsf:id="navIntraTool:" class="navIntraTool"/>
	<div rsf:id="searchTool:" class="navIntraTool"/>

	<h3 rsf:id="page-title">Categories</h3><br/>

	<div rsf:id="message-for:*" class="alertMessage">
			<ul style="margin:0px;">
				<li>Message for user here</li>
			</ul>
	</div>

	<div rsf:id="category-note"/>

	<form rsf:id="category-form" id="category-form" method="post">
		<div rsf:id="fileInputDiv:" id="fileInputDiv">
			<div rsf:id="contentDiv:" id="contentDiv" class="actionitem highlightPanel">
				<label rsf:id="category-label" for="category-name"/>
				<input rsf:id="category-name" size="60" id="category-name" type="text"/>
				<a class="small" rsf:id="category-remove-another" id="category-remove-another" href="#">
					<img src="/library/image/silk/cross.png"/>
				</a>
			</div>
			<p class="act">
				<a class="small" rsf:id="category-add-another" id="category-add-another" href="#">add another category</a>
			</p>
			<p>
				<input rsf:id="save-button" type="submit" value="Save"/>
<!--			<input rsf:id="remove-button" type="submit" value="Delete"/> -->
				<input rsf:id="cancel-button" type="submit" value="Cancel"/>
			</p>
		</div>
	</form>
</body>
</html>