<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title rsf:id="page-title"></title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
   <link href="../css/qna.css" type="text/css" rel="stylesheet" media="all" />
</head>
<body>
  <div rsf:id="navIntraTool:" class="navIntraTool"/>
  <h3 rsf:id="page-title">Move Question to Another Category</h3><br/>
  <h4 rsf:id="question-title">Question</h4>	<br/>
  <form rsf:id="move-question-form">
	  <div rsf:id="question">How is the year mark composed? </div>
	  <h4 rsf:id="move-to">Move to:</h4><br/>
	  <select rsf:id="category-select" name="category-select"><option value="1">Will be replaced</option></select>
	  <div rsf:id="or">OR</div>
	  <label rsf:id="new-category-label" for="new-category-name"></label>
	  <input rsf:id="new-category-name" size="25" name="new-category-name" type="text"/>
	  <br/>
	  <p class="act">
	  	<input rsf:id="update-button" type="submit" value="Update" class="active" />
	  	<input rsf:id="cancel-button" type="submit" value="Cancel"/>
	  </p>	
  </form>
</body>
</html>


