<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
	 <title rsf:id="page-title"></title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	 <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	 <script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
	 <link href="../css/qna.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
	<div rsf:id="navIntraTool:" class="navIntraTool"/>
	<div rsf:id="searchTool:" class="searchTool"/>

	<h3 rsf:id="page-title" class="insColor insBak insBorder">New Questions</h3>
	<h4 rsf:id="sub-title" >Question</h4>
	<br/>
	<form rsf:id="queued-question-form" method="post">
		<div rsf:id="queued-question">
			How is the year mark composed?
		</div>
		<br/>
		<div rsf:id="queued-question-submitter" class="grey">Joe Bloggs, 2007-06-21 16:40</div>
		<br/>
		<input rsf:id="queued-question-reply" type="submit" value="Reply Privately"  />
		<input rsf:id="queued-question-publish" type="submit" value="Publish Question"  />
		<input rsf:id="queued-question-delete" type="submit" value="Delete"  />
		<input rsf:id="queued-question-cancel" type="submit" value="Cancel"/>
	</form>

</body>
</html>