<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title rsf:id="page-title"></title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
   <script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
   <link href="../css/qna.css" type="text/css" rel="stylesheet" media="all" />
   <script type="text/javascript" language="JavaScript" src="../js/qna.js"></script>
</head>


<body>
  <div rsf:id="navIntraTool:" class="navIntraTool"/>
  <h3 rsf:id="page-title" class="insColor insBak insBorder">Questions and Answers</h3>
  <br/>
  <form rsf:id="view-questions-form" action="post">  	
  	<span rsf:id="view-title">View:</span>
  	<select rsf:id="view-select">
 		<option value="categories">Categories</option>
  		<option value="details">All Details</option>
  	</select>
  	<div rsf:id="questionListTool:"/>
  	<br/>
  	<input rsf:id="update-button" type="submit" value="Update"  />
  </form>

</body>
</html>